@import "tailwindcss";

:root {
  /* Colors - Tailwind v4 will automatically pick these up */
  --color-on-secondary: #ffffff;
  --color-outline: #6e7975;
  --color-primary-fixed: #9df3dc;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;
  --color-secondary: #46645c;
  --color-on-tertiary: #ffffff;
  --color-secondary-container: #c8eade;
  --color-inverse-on-surface: #eef1f0;
  --color-tertiary-fixed-dim: #ffb4a4;
  --color-on-tertiary-fixed-variant: #743425;
  --color-inverse-primary: #81d6c0;
  --color-tertiary: #763527;
  --color-surface-container-high: #e6e9e8;
  --color-surface-tint: #006b59;
  --color-surface-dim: #d7dbda;
  --color-on-secondary-fixed: #01201a;
  --color-tertiary-fixed: #ffdad3;
  --color-secondary-fixed-dim: #adcec3;
  --color-inverse-surface: #2d3131;
  --color-on-surface-variant: #3e4945;
  --color-surface-container-low: #f1f4f3;
  --color-surface-container: #ebeeed;
  --color-on-background: #181c1c;
  --color-on-tertiary-fixed: #3b0902;
  --color-primary: #006D3E;
  --color-primary-container: #D1FBD4;
  --color-on-primary-container: #002110;
  --color-primary-fixed: #96FBC7;
  --color-on-primary-fixed: #002110;
  --color-primary-fixed-dim: #79DEA1;
  --color-secondary: #4C6356;
  --color-secondary-container: #CFE9D8;
  --color-on-secondary-container: #092016;
  --color-surface: #FDF8F8;
  --color-background: #FDF8F8;

  /* Fonts */
  --font-headline: "Plus Jakarta Sans", sans-serif;
  --font-body: "Manrope", sans-serif;
  --font-label: "Inter", sans-serif;

  /* Settings */
  font-family: var(--font-body);
}

html {
  font-size: 13px;
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 14.5px;
  }
}

body {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
}

.font-headline {
  font-family: var(--font-headline);
}

.font-label {
  font-family: var(--font-label);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
